@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
input[list]::-webkit-list-button {
  display: none !important;
}
